<!DOCTYPE html>
<html>
  <head>
    <title>ChangePassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a023ef4a03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='MyaccountStyles.css')}}">
  </head>
  <body>
      <a class="closebtn" onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home/Myaccount'"><strong>×</strong></a>
      <h1>Change Password</h1>
    <form action="{{ url_for('changepassword') }}" method="post">
        <div class="msgnegative">{{ negative }}</div>
        <div class="msgpositive">{{ positive }}</div>
        <label for="NewPassword">New Password:</label><br>
        <input type="password" placeholder="Password" id="NewPassword" name="NewPassword" maxlength="30" size= "50"><br><br>
        <label for="RepeatPassword">Repeat Password:</label><br>
        <input type="password" placeholder="Enter password again" id="RepeatPassword" name="RepeatPassword" maxlength="30" size= "50"><br><br>
        <input type="submit" value="Update password">
    </form>
  </body>
  <script>
  </script>
</html>
