<!DOCTYPE html>
<html>
  <head>
    <title>Payment details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a023ef4a03.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='PaymentStyles.css')}}">
  </head>
  <body>
    <a class="closebtn" onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home'"><strong>×</strong></a>
    <h1>Payment details</h1>
    <form action="{{ url_for('payment') }}" method="post" autocomplete="off">
      <div class="msgnegative">{{ negative }}</div>
      <div class="msgpositive">{{ positive }}</div>
      <div class="input-icons">
        <i class='fas fa-user icon'></i>
        <input type="text" class="input-field" name="CardHolder" placeholder="Card Holder"  maxlength="90" size= "50" required><br><br>
        <i class='fa fa-credit-card icon'></i>
        <input type="text" class="input-field" name="CardNumber" placeholder="Card Number" maxlength="16" size= "50" required><br><br>
        <label for="ExpiryDate">Expiry Date</label>
        <label for="SecretCode" style="margin-left:133px;">Card verification code</label><br>
        <i class='far fa-calendar-alt icon'></i>
        <input type="text" class="input-field"  id="ExpiryDate" name="ExpiryDate" placeholder="MM-YY" maxlength="5" size= "10" onclick="expiryDate()" required>
        <i class='fas fa-lock' style="margin-left:103px;"></i>
        <input type="password" class="input-field"  id="SecretCode" name="SecretCode" placeholder="CVC" maxlength="3" size= "10" required><br><br>
        <input type="submit" value="Add card">
      </div>
    </form>
    <p id="h"><strong>Your credit cards</strong></p>
    <table id="UserCards">
  <tr>
    <th width=20%><strong>Card Holder</strong></th>
    <th width=20%><strong>Card Number</strong></th>
    <th width=10%><strong>Expiry Date</strong></th>
    <th width=10%><strong>CVC</strong></th>
    <th width="5%"></th>
  </tr>
  {% for row in rows %}
      <tr>
        <td id="name">{{ row['CardName']}}</td>
        <td id="number">****************</td>
        <td class="realnumber" style="display:none;">{{ row['CardNo'] }}</td>
        <td id="date">{{ row['CardExpDate'] }}</td>
        <td id="code">***</td>
        <td><a href="#" class="delete-row" onclick="deleteThis(this)"><span class="fas fa-trash-alt"></span></a></td>
      </tr>
  {% endfor %}
</table>
  </body>
  <script type='text/javascript'>
    // Delete row when user clicks on bin icon
    function deleteThis(obj){
      //get card number from row and remove row
	  var cardnumber = $(obj).parent().siblings('.realnumber')[0].textContent;
	  $(obj).closest('tr').remove();
	  // Send card number to python function to remove card from database
      $.ajax({
        type: 'POST',
        url: "{{ url_for('deleterow') }}",
        contentType: "application/json",
        data: JSON.stringify({ number: cardnumber }),
        dataType: "json",
        success: function(response){
          window.location.href = 'http://127.0.0.1:5000/Drunkfy/Home/Paymentdetails';;
        },
        error: function(error){
            console.log(error);
        }
      });
    }

    // Set expiry date value to - on click, so that it is easier for the user to match the requested format
    function expiryDate() {
      expiryDate = function(){};
      document.getElementById('ExpiryDate').value = '-';
    }

  </script>
</html>
