<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='SearchStyles.css')}}">
    <script src="https://kit.fontawesome.com/7d85027e3c.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script  defer src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyDrdX4ujBUG0mljJCo_MpF0a7h-V-Muj7g"  type="text/javascript"></script>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
      <form action="{{ url_for('search') }}" method="post" class="DestinationSearch" id="search">
        <i class='fas fa-arrow-left arrow' id="arrow" onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home'"></i>
        <i class='fas fa-car car'></i>
        <i class='fas fa-house-user house'></i>
        <i class='fas fa-long-arrow-alt-down vertical' style='font-size:24px'></i>
        <input type="text" id="origin-input" class="boxes"  placeholder="Pickup Location" title="Choose your pickup location"><br><br>
        <input type="text" id="destination-input" class="boxes" placeholder="Destination" title="Choose your destination"><br><br>
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>
        <input id="searchbtn" type="submit" value="Search">
      </form>
      <div id="map"></div>
        <table id="DriversAvailable">
            <tr>
                <td id="available" style="text-align:center;">No Drivers Available</td>
            </tr>
        </table>
        <table id="ChosenDriver">
        </table>

    <button id="backbtn"><strong>🡨</strong></i></button>
    <div id="modal">
    <div class="modal-header">
      <div class="title">Please leave your feedback!</div>
    </div>
    <div class="modal-body">
        <x-star-rating value="1" number="5" id="ratting"></x-star-rating>
     </div>
        <input id="submitfeedback" type="submit" value="Submit">
  </div>
  <div id="overlay"></div>


</body>
<script>

var infowindow;

    // Go back to previous page
    function back() {
                location.href = "http://127.0.0.1:5000/Drunkfy/Home/Search";
            };
// Set user's current location on map and hide irrelevant elements
$( document ).ready(function() {
  $("table").hide();
  $("button").hide();
  $(available).hide();
  navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom:14,
                center: pos
            });

  infowindow = new google.maps.InfoWindow();

  new AutocompleteDirectionsHandler(map);
});

// Create autocomplete boxes using Google Maps Directions and Places API
function AutocompleteDirectionsHandler(map) {
  this.map = map;
  this.originPlaceId = null;
  this.destinationPlaceId = null;
  this.travelMode = 'DRIVING';
  var originInput = document.getElementById('origin-input');
  var destinationInput = document.getElementById('destination-input');
  this.directionsService = new google.maps.DirectionsService();
  this.directionsDisplay = new google.maps.DirectionsRenderer();
  this.directionsDisplay.setMap(map);

  var originAutocomplete = new google.maps.places.Autocomplete(
    originInput, {
      placeIdOnly: true
    });
  var destinationAutocomplete = new google.maps.places.Autocomplete(
    destinationInput, {
      placeIdOnly: true
    });


  this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
  this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
}

// Get values from autocomplete boxes to display path between locations
AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
  var me = this;
  autocomplete.bindTo('bounds', this.map);
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.place_id) {
      window.alert("Please select an option from the dropdown list.");
      return;
    }
    if (mode === 'ORIG') {
      me.originPlaceId = place.place_id;
    } else {
      me.destinationPlaceId = place.place_id;
    }
    me.route();
  });

};

// Display path on map
AutocompleteDirectionsHandler.prototype.route = function() {
  if (!this.originPlaceId || !this.destinationPlaceId) {
    return;
  }
  var me = this;

  this.directionsService.route({
    origin: {
      'placeId': this.originPlaceId
    },
    destination: {
      'placeId': this.destinationPlaceId
    },
    travelMode: this.travelMode
  }, function(response, status) {
    if (status === 'OK') {
      me.directionsDisplay.setDirections(response);
      var center = response.routes[0].overview_path[Math.floor(response.routes[0].overview_path.length / 2)];
      infowindow.setPosition(center);
      infowindow.setContent(response.routes[0].legs[0].duration.text + "<br>" + response.routes[0].legs[0].distance.text);
      infowindow.open(me.map);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
};

     // Calculate distance between origin and destination using Distance Matrix Google Maps API
    function calculateDistanceOriginDestination() {
        var origin = $('#origin-input').val();
        var destination = $('#destination-input').val();
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
                {
                    origins: [origin],
                    destinations: [destination],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.METRIC, // kilometers and meters.
                    avoidHighways: false,
                    avoidTolls: false
                }, callback2);
    }



    // Get distance results
    function callback2(response, status) {
            if (status != google.maps.DistanceMatrixStatus.OK) {
                $('#result').html(err);
            } else {
                var origin = response.originAddresses[0];
                var destination = response.destinationAddresses[0];
                if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
                    $('#result').html("Better get on a plane. There are no roads between "  + origin + " and " + destination);
                } else {
                    getArrival();
                    // Get estimated arrival time
                    function getArrival() {
                        var distance = response.rows[0].elements[0].distance;
                        var duration = response.rows[0].elements[0].duration;
                        distance_in_km = distance.value / 1000;
                        var duration_value = duration.value*1000;
                        var time = new Date()
                        time = new Date(time.getTime() + duration_value);
                        var date = new Date(time)
                        var currenthr = date.getHours()
                        var currentmin = date.getMinutes()
                        var currentsec = date.getSeconds()
                        if (currentsec > 30) {currentmin = 1+currentmin;}
                        if (currentmin < 10) {currentmin = "0"+currentmin;}
                        if (currentmin > 59) {currenthr = 1+currenthr;}
                        if (currenthr   < 10) {currenthr   = "0"+currenthr;}
                        var arrivalTime = currenthr + ":" + currentmin;
                        calculateDistanceDriverCustomer(arrivalTime);

                    }
                 }
                }
            };



    // Calculate distance between driver and customer
    function calculateDistanceDriverCustomer(val) {
       var arrivalTime = val;
       // Get values from MySQL using Flask Templates
       {% autoescape off %}
       var locations = {{ locations }}
       {% endautoescape %}

       {% autoescape off %}
       var firstname = {{ firstname }}
       {% endautoescape %}

       {% autoescape off %}
       var lastname = {{ lastname }}
       {% endautoescape %}

       {% autoescape off %}
       var rating = {{ rating }}
       {% endautoescape %}
       var location;
       window.count = 0;
       // Get data for each driver available
       for (let location = 0; location < locations.length; location++) {

        const data        = {},
            destination = $('#origin-input').val(),
            service     = new google.maps.DistanceMatrixService();

        var num = [location]
        data.origin    = locations[location];
        data.firstname = firstname[location];
        data.lastname  = lastname[location];
        data.rating    = rating[location];
        data.car = "car" + num.toString()
        data.row = "row" + num.toString()
        data.arrivalTime = arrivalTime;
        // Distance between driver and pickup location
        service.getDistanceMatrix(
                {
                    origins: [data.origin],
                    destinations: [destination],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.METRIC, // kilometers and meters.
                    avoidHighways: false,
                    avoidTolls: false
                }, (response, status) => callback(response, status, data));
        }

    };



    // Get distance results and driver data
    function callback(response, status, data) {
            if (status != google.maps.DistanceMatrixStatus.OK) {
                $('#result').html(err);
            } else {
                var origin = response.originAddresses[0];
                var destination = response.destinationAddresses[0];
                if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
                    $('#result').html("Better get on a plane. There are no roads between "  + origin + " and " + destination);
                } else {
                    getPickup();
                    //get Estimated pickup time
                    function getPickup() {
                        var distance = response.rows[0].elements[0].distance;
                        var duration = response.rows[0].elements[0].duration;
                        var distance_in_kilo = distance.value / 1000;
                        var duration_value = duration.value*1000;
                        // Get pickup date
                        var time = new Date()
                        time = new Date(time.getTime() + duration_value);
                        var date = new Date(time)
                        // Get pickup time
                        var currenthr = date.getHours()
                        var currentmin = date.getMinutes()
                        var currentsec = date.getSeconds()
                        if (currentsec > 30) {currentmin = 1+currentmin;}
                        if (currentmin < 10) {currentmin = "0"+currentmin;}
                        if (currentmin > 59) {currenthr = 1+currenthr;}
                        if (currenthr   < 10) {currenthr   = "0"+currenthr;}
                        window.pickupTime = currenthr + ":" + currentmin;
                        // Display driver only if distance between driver and pickup location is less than or equal to 10km
                        if (distance_in_kilo <= 10) {
                            // Count number of drivers who are 10km or less away
                            window.count = count + 1;
                            // Text to be displayed for each driver
                            window.node = document.createTextNode(`${data.firstname}` + " " + `${data.lastname}` + ",\xa0\xa0\xa0" + "Rating: " + `${data.rating}` + "/5:" + "\xa0\xa0\xa0\xa0\xa0\xa0" + "Pickup Time: " + window.pickupTime + "\xa0-\xa0" + "Arrival Time: " + `${data.arrivalTime}`);
                            // Insert row for each driver
                            var rowIdentifier = `${data.row}`
                            var cellIdentifier = `${data.car}`
                            var row = document.createElement("tr");
                            row.setAttribute("id", rowIdentifier);
                            row.align = 'center';
                            var element = document.getElementById("DriversAvailable");
                            element.appendChild(row);
                            var td = document.createElement("td");
                            td.appendChild(window.node);
                            td.valign = 'middle';
                            var cell = document.getElementById(rowIdentifier);
                            td.setAttribute("id", cellIdentifier);
                            cell.appendChild(td);
                            var img = document.createElement("img");
                            img.src = "http://127.0.0.1:8887/car.png";
                            img.style.cssText = 'width:8%;height:16%;margin-left:50px;'
                            var src = document.getElementById(cellIdentifier);
                            src.appendChild(img);
                            // If one row is clicked, hide all other rows and just display that row with a button to confirm service
                            document.getElementById(rowIdentifier).addEventListener("click", function() {
                                $(DriversAvailable).hide();
                                var content = document.getElementById(rowIdentifier).textContent;
                                window.drivername = `${data.firstname}`;
                                var node1 = document.createTextNode(content);
                                var row1 = document.createElement("tr");
                                row1.align = 'center';
                                row1.setAttribute("id", "row");
                                var element1 = document.getElementById("ChosenDriver");
                                element1.appendChild(row1);
                                var td1 = document.createElement("td");
                                td1.appendChild(node1);
                                td1.valign = 'middle';
                                td1.setAttribute("id", "car");
                                var cell1 = document.getElementById("row");
                                cell1.appendChild(td1);
                                var img1 = document.createElement("img");
                                img1.src = "http://127.0.0.1:8887/car.png";
                                img1.style.cssText = 'width:8%;height:16%;margin-left:50px;'
                                var src1 = document.getElementById("car");
                                src1.appendChild(img1);
                                var btn = document.createElement("input");
                                btn.type = "submit";
                                btn.value = "Confirm Service";
                                btn.setAttribute("id", "confirmbtn");
                                btn.setAttribute("data-modal-target", "#modal");
                                var table = document.getElementById("ChosenDriver");
                                table.appendChild(btn);
                                $(ChosenDriver).show();
                                // Remove current onclick function for arrow back and add another one
                                document.getElementById("backbtn").removeEventListener("click", back);
                                document.getElementById("backbtn").addEventListener("click", back2);
                                function back2() {
                                    $(ChosenDriver).hide();
                                    $(DriversAvailable).show();
                                    document.getElementById("backbtn").removeEventListener("click", back2);
                                    document.getElementById("backbtn").addEventListener("click", back);
                                    document.getElementById("row").remove();
                                    document.getElementById("confirmbtn").remove();
                                };
                                // If user clicks on confirm button, service is hired, data is sent to python flask to add rows in database and a feedback form will be displayed after 15 seconds
                                document.getElementById("confirmbtn").addEventListener("click", feedback);
                                const openModalButtons = document.querySelectorAll('[data-modal-target]')
                                function feedback() {
                                    var origin1 = $('#origin-input').val();
                                    var destination1 = $('#destination-input').val();
                                    $.ajax({
                                        type: "POST",
                                        url: "{{ url_for('get_post_json') }}",
                                        contentType: "application/json",
                                        data: JSON.stringify({ origin: origin1, destination: destination1, name: window.drivername, pickup: window.pickupTime }),
                                        dataType: "json",
                                        success: function(response) {
                                            console.log(response);
                                        },
                                        error: function(err) {
                                            console.log(err);
                                        }
                                        });

                                    var conbtn =  document.getElementById("confirmbtn");
                                    $(ChosenDriver).hide();
                                    $(backbtn).hide();
                                    document.getElementById("map").style="overflow:hidden;top:0;height:100%;width:100%;"
                                    // Display feedback form after 15 seconds
                                    setTimeout(function(){
                                        const overlay = document.getElementById('overlay')
                                        const modal = document.querySelector(conbtn.dataset.modalTarget)
                                        openModal(modal)
                                    }, 15000);
                                    class StarRating extends HTMLElement {
                                        get value () {
                                            return this.getAttribute('value') || 1;
                                        }

                                        set value (val) {
                                            this.setAttribute('value', val);
                                            this.highlight(this.value - 1);
                                        }

                                        get number () {
                                            return this.getAttribute('number') || 5;
                                        }

                                        set number (val) {
                                            this.setAttribute('number', val);

                                        this.stars = [];

                                        while (this.firstChild) {
                                            this.removeChild(this.firstChild);
                                        }

                                        for (let i = 0; i < this.number; i++) {
                                            let s = document.createElement('div');
                                            s.className = 'star';
                                            this.appendChild(s);
                                            this.stars.push(s);
                                        }

                                        this.value = this.value;
                                    }

                                    highlight (index) {
                                        this.stars.forEach((star, i) => {
                                        star.classList.toggle('full', i <= index);
                                        });
                                    }

                                    constructor () {
                                        super();

                                        this.number = this.number;

                                        this.addEventListener('mousemove', e => {
                                            let box = this.getBoundingClientRect(),
                                                starIndex = Math.floor((e.pageX - box.left) / box.width * this.stars.length);

                                            this.highlight(starIndex);
                                        });

                                        this.addEventListener('mouseout', () => {
                                            this.value = this.value;
                                        });

                                        this.addEventListener('click', e => {
                                            let box = this.getBoundingClientRect(),
                                                starIndex = Math.floor((e.pageX - box.left) / box.width * this.stars.length);

                                            this.value = starIndex + 1;

                                            let rateEvent = new Event('rate');
                                            this.dispatchEvent(rateEvent);
                                        });
                                    }
                                }

                                customElements.define('x-star-rating', StarRating);
                                ratting.addEventListener('rate', () => {
                                    window.rating = 1; //set minimum rating 1
                                    window.rating = ratting.value;
                                });
                                // When user clicks on submit button, rating is sent to python flask to add rating to database and user redirected to homepage
                                document.getElementById("submitfeedback").addEventListener('click', function() {
                                    $.ajax({
                                        type: "POST",
                                        url: "{{ url_for('get_feedback') }}",
                                        contentType: "application/json",
                                        data: JSON.stringify({ feedback: window.rating }),
                                        dataType: "json",
                                        success: function(response) {
                                            window.location.href = 'http://127.0.0.1:5000/Drunkfy/Home';
                                        },
                                        error: function(err) {
                                            console.log(err);
                                        }
                                        });

                                });
                                }

                                function openModal(modal) {
                                    if (modal == null) return
                                    modal.classList.add('active');
                                    overlay.classList.add('active');
                                }
                                })
                        }
                        else {
                            console.log("Not available");
                        }
                     }
                }
            }
        };

        // Get results on submit the form
        $('#search').submit(function(e){
            e.preventDefault();
            calculateDistanceOriginDestination();
            document.getElementById("map").style="overflow:hidden;top:0;height:76%;width:100%;"
            $("form").hide();
            $("table").show();
            $("button").show();
            if (window.count == 0) {
                $(available).show();
            }
            else {
                $(available).hide();
            }
            document.getElementById("backbtn").addEventListener("click", back);
     });
});


</script>
</html>