  
html,body {
      overflow: hidden;
      margin:0;
      height:100%;
}

    .closebtn {
       position:absolute;
       left:5px;
       top:5px;
       color:white;
       font-size: 36px;
       cursor:pointer;
     }

     input[type=text] {
        border: 1px solid #ccc;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 8px
        outline: 0;
        font-size:15px;
        -webkit-appearance: none;
        padding: 4px 7px;
        }

        input[type=password] {
            border: 1px solid #ccc;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 8px
            outline: 0;
            font-size:15px;
            -webkit-appearance: none;
            padding: 4px 7px;
        }

     h1 {
        padding-top: 50px;
        font-size: 40px;
        color: white;
        height: 100px;
        background-color:rgb(70, 144, 255);
        text-align: center;
        display:block;
        margin:0;
        font-family: "times new roman";
      }

      form {
        position: relative;
        display:block;
        left:620px;
        top:50px;
      }

      .icons {
	font-size:12px;
	padding-left:390px;
	position:absolute;
      }

      .user {
	font-size:80px;
	padding-left: 500px;
	background-color:lightgray;
	width:100%;
      }

      .logout {
        position:absolute;
        padding-left:517px;
        width:4%;
        text-decoration:underline;
        color:black;
        cursor:pointer;
        }

      input[type=submit] {
	    font-size:16px;
	    border-radius:8px;
	    padding:16px;
	    cursor:pointer;
      }

      .changePassword {
        color:blue;
        text-decoration: underline;
        font-size: 10px;
        position: absolute;
        padding-left: 320px;
      }

      .linkcursor {
        cursor:pointer;
      }

      .msgpositive {
        margin-bottom:20px;
        color: green;
        }
      .msgnegative {
        margin-bottom:20px;
        color: red;
        }