html,body {
  overflow: hidden;
  margin:0;
} 

   .closebtn {
       position:absolute;
       left:5px;
       top:5px;
       color:white;
       font-size: 36px;
       cursor:pointer;
     }

    h1 {
     padding-top: 50px;
     font-size: 40px;
     color: white;
     height: 100px;
     background-color: rgb(70, 144, 255);
     text-align: center;
     display:block;
     margin:0;
     font-family: "times new roman"
    }

    form {
     position: relative;
     display:block;
     left:620px;
     top:50px;
    }

    .input-field {
      padding: 4px 7px;
      padding-left:25px;
      border: 1px solid #ccc;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 8px
      outline: 0;
      font-size:15px;
      -webkit-appearance: none;
    }

    .input-field[type=password] {
      margin-left:103px;
      border: 1px solid #ccc;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 8px
      outline: 0;
      font-size:15px;
      -webkit-appearance: none;
    }

    .input-icons i {
      position: absolute;
      padding: 5px;
      margin-top: 1px;
    }

    p {
      padding-top: 40px;
      padding-left: 715px;
      font-size: 18px;

    }

    table {
      display:block;
      border-collapse: collapse;
      padding-top: 20px;
      padding-bottom: 169px;
      padding-left: 375px;
      text-align: center;
    }

    th {
      background-color: rgb(70, 144, 255);
      color: white;
      height:30px;
    }

    th, td {border-bottom: 1px solid #ddd;}

    td {height:30px;}

    tr:hover {background-color: #f5f5f5;cursor:context-menu;}

    input[type=submit] {
        font-size:16px;
        border-radius:8px;
        padding:16px;
        margin-left:240px;
        cursor:pointer;
    }

    .msgnegative {
     padding-bottom:10px;
     color: red;
    }

    .msgpositive {
     padding-bottom:10px;
     color: green;
    }

    .delete-row {
        color:black;
    }