<!DOCTYPE html>
<html>
  <head>
    <title>MainPage</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='MainpageStyles.css')}}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div class="msg">{{ welcomeMsg }}</div>

    <form class="InitialBox">
      <input type="text" name="search" id="startBox" placeholder="Where to?" onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home/Search'">
      <i class="fa fa-search"></i>
    </form>
    <hr>
    <div id="mySidemenu" class="sidemenu">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <hr>
      <a1 class="name" href="#">{{ name }}</a1>
      <a2 onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home/Myaccount'" href="#">My account</a2>
      <a onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home/Trips'" href="#">Trips</a>
      <a onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home/Paymentdetails'" href="#">Payment details</a>
    </div>

    <div id="main">
      <button class="openbtn" onclick="openNav()">☰</button>
    </div>
    <script>
      // Initialize map
      var map, infoWindow;
    function initAutocomplete() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 20,
          mapTypeId: 'roadmap'
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation to get user's current location
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            //Set user's current location on map
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
  }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrdX4ujBUG0mljJCo_MpF0a7h-V-Muj7g&libraries=places&callback=initAutocomplete" async defer></script>º

    <script>
      // Display side menu
      function openNav() {
        document.getElementById("mySidemenu").style.width = "300px";
        document.getElementById("main").style.marginLeft = "200px";
      }
      // Close side menu
      function closeNav() {
        document.getElementById("mySidemenu").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
      </script>
  </body>
</html>
