<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7d85027e3c.js" crossorigin="anonymous"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='LoginStyles.css')}}">
  </head>
  <body>
    <div id="id01" class="modal animate">

      <form class="modal-content" action="{{ url_for('login') }}" method="post">
        <div class="imgcontainer">
          <img src="{{url_for('static', filename='car.gif')}}" alt="Animated car" class="car">
        </div>

        <div class="container">
          <label for="email"><b>Email Address</b></label>
          <input type="text" placeholder="Enter Email Address" name="email" id="email" required>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
          <div class="msg">{{ msg }}</div>
          <input type="submit" value="Login" class="btn" id="btn">
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1;display:flex;align-items:center;">
          <span class="pwd"><a href="#">Forgot password?</a></span>
          <span class="registration">Don't have an account?<a href="#" onclick="location.href='http://127.0.0.1:5000/Drunkfy/Register'">Register now!</a></span>
        </div>
      </form>
    </div>
  </body>
  <script>
  </script>
</html>
