<!DOCTYPE html>
<html>
  <head>
    <title>Trips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7d85027e3c.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='TripsStyles.css')}}">
  </head>
  <body>
    <a class="closebtn" onclick="location.href='http://127.0.0.1:5000/Drunkfy/Home'"><strong>×</strong></a>
    <h1>Your trips</h1>
    <div class="tablescroll">
      <table id="UserTrips">
        <tr>
          <th width=10%><strong>Date</strong></th>
          <th width=10%><strong>Pickup Time</strong></th>
          <th width=30%><strong>Pickup Location</strong></th>
          <th width=30%><strong>Destination</strong></th>
          <th width=10%><strong>Cost</strong></th>
          <th width=10%><strong>Rating</strong></th>
        </tr>
        {% for row in rows %}
          <tr>
            <td>{{ row['JourneyDate']}}</td>
            <td>{{ row['PickupTime']}}</td>
            <td>{{ row['Pickup']}}</td>
            <td>{{ row['Destination']}}</td>
            <td>{{ row['Jcost']}}€</td>
            {% if row['rating'] == 5 %}
            <td id="stars">
              <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></td>
            {% elif row['rating'] == 4 %}
            <td id="stars">
              <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></td>
            {% elif row['rating'] == 3 %}
            <td id="stars">
              <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></td>
            {% elif row['rating'] == 2 %}
            <td id="stars">
              <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></td>
            {% elif row['rating'] == 1 %}
            <td id="stars">
              <span class="fa fa-star checked"></span></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
  <script>
  </script>
</html>
